* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    height: 100vh;
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2B2823;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* background-color: red; */
}

.container-escalar{
    display: none;
    flex-direction: column;
    height: 300px;
    width: 350px;
    align-items: center;
    justify-content: center;
}

.container-labels {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.container-remover{
    display: none;
    flex-direction: column;
    height: 200px;
    width: 350px;
    align-items: center;
    justify-content: center;
    /* visibility: hidden; */
}

.labels {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 5px;
    border: none;
    font-size: 15px;
    font-weight: 500;
    width: 150px;
    height: 30px;
    transition: width 0.2s linear, height 0.2s linear;
}

button:hover{
    width: 160px;
    height: 34px;
}

#btn-escalar {
    margin-top: 50px;
}

#btn-remover{
    margin-top: 50px;
}

label{
    margin-top: 10px;
    margin-bottom: 10px;
}

input{
    height: 21px;
    font-size: 15px;
    font-weight: 500;
    outline: 0;
    box-shadow: 0 0 0 0;
    border: none;
    border-radius: 2px;
}

input:focus{
    outline: 0;
    box-shadow: 0 0 0 0;  
}

h2{
    margin-bottom: 15px;
}